#android studio
build/libs/*
build/manifests/*
build/res/*
build/source/*
build/symbols/*
build/assets/*
build/classes/*
build/dependency-cache/*
build/incremental/*
.gradle/*
.idea/*
gradle/*
build.gradle
SPEC.iml
proguard.cfg
gradlew.bat
gradlew