#android studio
build/libs/
build/manifests/
build/res/
build/source/
build/symbols/
build/assets/
build/classes/
build/dependency-cache/
build/incremental/
.gradle/
gradle/
.idea/
build.gradle
SPEC.iml
proguard.cfg
gradlew.bat
gradlew
out/
gen/
classes/
local.properties