<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="specular.systems"
    android:versionCode="33"
    android:versionName="V 0.5.9">

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <compatible-screens>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
    </compatible-screens>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="specular.systems"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <receiver
            android:name=".widget.WidgetContact"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_contact_info" />
        </receiver>
        <receiver
            android:name=".widget.WidgetScanner"
            android:label="@string/widget_name_scanner">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_scanner_info" />
        </receiver>

        <activity
            android:name=".activities.Splash"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/specular.systems" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:pathPattern=".*\\.SPEC" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/SPEC" />
                <data android:mimeType="application/spec" />
                <data android:mimeType="file/spec" />
                <data android:mimeType="file/SPEC" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:pathPattern=".*\\.SPEC" />
                <data android:pathPattern=".*\\.spec" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data android:scheme="specular.systems" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Main"
            android:exported="true"
            android:icon="@drawable/menu"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StartScan"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".widget.ChooseContact"
            android:label="@string/choose_contact_for_widget"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.QuickMsg"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".activities.SendReport"
            android:excludeFromRecents="true"
            android:label="@string/send_report_title"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".activities.SendMsg"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="id=46898931568" />
        </activity>
        <activity android:name="zxing.scanqr.CaptureActivity" />
        <activity
            android:name=".activities.PrivateKeyManager"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".activities.FilesOpener"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activities.SpecSafe"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>