<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="specular.systems"
    android:versionCode="28"
    android:versionName="1.33">

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true">


        <!--<provider
            android:name=".MyContentProvider"
            android:authorities="specular.systems.MyContentProvider"
            android:multiprocess="true"
            android:grantUriPermissions="true"/>-->
        <receiver android:name=".widget.WidgetContact"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_contact_info" />
        </receiver>
        <receiver android:name=".widget.WidgetScanner"
            android:label="@string/widget_name_scanner">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_scanner_info" />
        </receiver>

        <activity
            android:name=".activities.Splash"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/specular.systems" />
            </intent-filter>
           <!-- <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:pathPattern="*SPEC*" />
                <data android:mimeType="image/png"/>
            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:pathPattern=".*\\.SPEC" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/SPEC" />
                <data android:mimeType="application/spec" />
                <data android:mimeType="file/spec" />
                <data android:mimeType="file/SPEC" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:pathPattern=".*\\.SPEC"/>
                <data android:pathPattern=".*\\.spec"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Main"
            android:icon="@drawable/menu"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StartScan"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:label="@string/choose_contact_for_widget"
            android:name=".widget.ChooseContact"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:taskAffinity=""
            android:exported="true"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:name=".widget.QuickMsg"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth"/>
        <activity
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:screenOrientation="landscape"
            android:name=".widget.WidgetScanActivity"
            android:taskAffinity=""
            android:exported="true"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"/>
        <activity
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:label="@string/send_report_title"
            android:name=".activities.SendReport"
            android:theme="@android:style/Theme.Holo.Light.Dialog"/>

        <activity
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:name=".activities.SendMsg"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth"/>

        <activity
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:name=".activities.PrivateKeyManager"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth"/>

    </application>
</manifest>